{% extends 'base.html.twig' %}

{% block title %}Nouvelle urgence{% endblock %}

{% block body %}
    <h1>Nouvelle urgence</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
