{% extends 'base.html.twig' %}

{% block title %}Tableau de bord Personnel Soignant{% endblock %}

{% block body %}
    <h1>Tableau de bord Personnel Soignant</h1>

    <p>Bienvenue, {{ app.user.email }} !</p>

    {# Ajoutez ici le contenu spécifique au tableau de bord du personnel soignant #}
{% endblock %}
